{{- $chassisType := "laptop" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   if contains "MacBook" (output "sysctl" "-n" "hw.model") }}
{{-     $chassisType = "laptop" }}
{{-   else }}
{{-     $chassisType = "desktop" }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $chassisType = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim }}
{{- end -}}
data:
  main_monitor:
  second_monitor:
  second_monitor_position:
  second_monitor_rotation:
  external_monitors:
  chassis_type: {{$chassisType | quote}}
  brightness_device:
  eth_device:
  wifi_device:
  touchpad_device:
  i3_use_fontawesome:
  pulseaudio_sink:
  pulseaudio_source:
  kdeconnect_device:
  anthropic:
    api_key:
  cometml:
    api_key:
  gemini:
    api_key:
  git:
    user:
      email:
      name:
  github:
    pat:
    username:
  kmr:
    robocon_remote_user:
  langsmith:
    api_key:
  nvidia:
    api_key:
  ollama:
    api_key:
  onshape:
    api_key:
    secret_key:
  openai:
    user_api_key:
    api_key:
  roboflow:
    api_key:
  tavily:
    api_key:
  vnc:
    user:
    password:
