data:
  main_monitor:
  second_monitor:
  second_monitor_position:
  second_monitor_rotation:
  external_monitors:
  brightness_device:
  eth_device:
  wifi_device:
  touchpad_device:
  i3_use_fontawesome:
  laptop:
  pulseaudio_sink:
  pulseaudio_source:
  git:
    user:
      email:
      name:
  github:
    pat:
    username:
  vnc:
    user:
    password:
  openai:
    api_key:
  onshape:
    api_key:
    secret_key:
