#!/bin/zsh
# This file is managed by chezmoi, its source is .../chezmoi/private_dot_config/dot_zshrc.tmpl.

# If not running interactively, don't do anything
if [[ ! -o interactive ]]; then
  return
fi

# Uncomment the following line and the first line to start profiling.
# zprof

# Profile
if [ -f ~/.config/shell/profile ]; then
	. ~/.config/shell/profile
fi

declare -A ZINIT  # initial Zinit's hash definition, if configuring before loading Zinit.
ZINIT[HOME_DIR]=$HOME/.cache/zinit

### Added by Zinit's installer and tuned
if [[ ! -f $ZINIT[HOME_DIR]/bin/zinit.zsh ]]; then
  print -P "%F{33}▓▒░ %F{220}Installing %F{33}DHARMA%F{220} Initiative Plugin Manager (%F{33}zdharma/zinit%F{220})…%f"
  command mkdir -p "$ZINIT[HOME_DIR]" && command chmod g-rwX "$ZINIT[HOME_DIR]"
  command git clone https://github.com/zdharma/zinit "$ZINIT[HOME_DIR]/bin" && \
    print -P "%F{33}▓▒░ %F{34}Installation successful.%f%b" || \
    print -P "%F{160}▓▒░ The clone has failed.%f%b"
fi

source "$ZINIT[HOME_DIR]/bin/zinit.zsh"
autoload -Uz _zinit
(( ${+_comps} )) && _comps[zinit]=_zinit

### End of Zinit's installer chunk

# Load a few important annexes, without Turbo
# (this is currently required for annexes)
zinit light-mode for \
    zinit-zsh/z-a-rust \
    zinit-zsh/z-a-as-monitor \
    zinit-zsh/z-a-patch-dl \
    zinit-zsh/z-a-bin-gem-node
# Load OMZP::common-aliases without Turbo otherwise aliases cannot be overwritten by zsh_aliases.
zinit light-mode for OMZP::common-aliases

# Prompt theme: Powerlevel10k, https://github.com/romkatv/powerlevel10k#meslo-nerd-font-patched-for-powerlevel10k.
# To customize prompt, run `p10k configure` or edit ~/.config/zsh/.p10k.zsh.
# Install if not present.
[[ -f ~/.config/zsh/.p10k.zsh ]] || zinit ice depth=1; zinit light romkatv/powerlevel10k
[[ ! -f ~/.config/zsh/.p10k.zsh ]] || source ~/.config/zsh/.p10k.zsh

zinit wait lucid for \
  OMZL::directories.zsh \{{/* Aliases '-', '2', '...' and others. */}}
  OMZP::command-not-found \{{/* Proposes a package for a missing command. */}}
  OMZP::git \
  OMZP::pip \
  OMZP::safe-paste \{{/* Treat new lines from paste differently than typed ones. Cf. https://cirw.in/blog/bracketed-paste. */}}
  OMZP::zsh-navigation-tools{{/* Approximate matching – pressing Ctrl-F during search will allow 1 or 2 errors in what is typed in. http://psprint.github.io/Zsh-Navigation-Tools-approximate-matching/. Requires installation of psprint/zsh-navigation-tools below.  */}}
{{- if 0 }}
  OMZP::zsh-interactive-cd \{{/* Interactive cd command. */}} Requires ENTER even on single entry.
{{- end }}

zinit load zsh-users/zsh-completions
zinit load zsh-users/zsh-syntax-highlighting
zinit load zsh-users/zsh-autosuggestions
zinit load agkozak/zsh-z{{/* Jump around with z. Cf. https://github.com/agkozak/zsh-z. */}}
zinit load psprint/zsh-navigation-tools{{/* Approximate matching – pressing Ctrl-F during search will allow 1 or 2 errors in what is typed in. http://psprint.github.io/Zsh-Navigation-Tools-approximate-matching/. Requires installation above to set the binkey. */}}

# Terminal title on directory change
# cf. http://www.tldp.org/HOWTO/text/Xterm-Title
# Deactivated because set by oh-my-zsh
case $TERM in
  xterm*)
    precmd() {print -Pn "\e]0;%20<..<%~\a"}
    ;;
esac

# History management
HISTFILE=$HOME/.cache/zsh_history
HISTSIZE=1000
SAVEHIST=2000
{{/* Save history immediately, so that history is available in all shells. */}}
setopt inc_appendhistory
{{/* Avoid duplicates in history. */}}
setopt hist_ignore_dups
setopt hist_save_no_dups
{{/* Change directory without cd. */}}
setopt autocd

# Vim key bindings
bindkey -v

# Completion configuration.
# Case-insensitive completion.
# Highlight the common part and the next character of completions.
zstyle -e ':completion:*:default' list-colors 'reply=("${PREFIX:+=(#bi)($PREFIX:t)(?)*==02=01}:${(s.:.)LS_COLORS}")'

# Add custom directory for completion.
# E.g.:
# $ chezmoi completion zsh > ~/.local/share/zsh/site-functions/_chezmoi
# $ rustup completions zsh rustup > ~/.local/share/zsh/site-functions/_rustup
fpath+=$HOME/.local/share/zsh/site-functions

if [ -e /usr/share/vcstool-completion/vcs.zsh ]; then
  source /usr/share/vcstool-completion/vcs.zsh
fi

# The following lines were added by compinstall
zstyle ':completion:*' completer _complete _ignored
zstyle ':completion:*' ignore-parents parent pwd
zstyle ':completion:*' list-suffixes true
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}'
zstyle :compinstall filename "$HOME/.config/zsh/.zshrc"

autoload -Uz compinit
compinit
# End of lines added by compinstall

bindkey '^P' up-history
bindkey '^N' down-history
# Search with command starting with the same letters
autoload up-line-or-beginning-search # load hook
autoload down-line-or-beginning-search
zle -N up-line-or-beginning-search # activate hook
zle -N down-line-or-beginning-search
bindkey "${key[Up]}" up-line-or-beginning-search # add keybinding to hook
bindkey "${key[Down]}" down-line-or-beginning-search
bindkey '[1;5D' backward-word # Ctrl-Left
bindkey '[1;5C' forward-word # Ctrl-Right

# Alt + . inserts the last parameter from the last command
bindkey "." insert-last-word

# 'ctrl-x r' will complete the 12 last modified (mtime) files/directories
zle -C newest-files complete-word _generic
bindkey '^Xr' newest-files
zstyle ':completion:newest-files:*' completer _files
zstyle ':completion:newest-files:*' file-patterns '*~.*(omN[1,12])'
zstyle ':completion:newest-files:*' menu select yes
zstyle ':completion:newest-files:*' sort false
zstyle ':completion:newest-files:*' matcher-list 'b:=*' # important

# 'ctrl-x *' will expand the current word.
bindkey '^X*' expand-word

# toggle autosuggestion because it doesn't work well with non 256-color terminals.
bindkey '^ ' autosuggest-toggle

# Case-insensitive completion
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}'

# Key bindings for fasd completion
bindkey '^X^F' fasd-complete-f  # C-x C-f to do fasd-complete-f (only files)
bindkey '^X^D' fasd-complete-d  # C-x C-d to do fasd-complete-d (only dirs)

# Show vim mode (http://dougblack.io/words/zsh-vi-mode.html)
# TODO: solve incompatiblity with Ctrl-Up binding
#function zle-line-init zle-keymap-select {
#	VIM_PROMPT="%{$fg_bold[yellow]%} [% NORMAL]%  %{$reset_color%}"
#	RPS1="${${KEYMAP/vicmd/$VIM_PROMPT}/(main|viins)/} $EPS1"
#	zle reset-prompt
#}
#
#zle -N zle-line-init
#zle -N zle-keymap-select
#export KEYTIMEOUT=1

# Do not expand glob patterns, propose a list of matches instead.
setopt globcomplete
setopt interactivecomments # pound sign in interactive prompt as a comment

# Use extendedglob (for example ^CMakeLists.txt for all but this file)
setopt extendedglob

# Completion for gr (Generated with `gr completion > ...`).
if [ -e $HOME/.local/share/zsh/site-functions/gr.zsh ]; then                                                                                                                                                       
  source $HOME/.local/share/zsh/site-functions/gr.zsh
fi

# Completion for kitty
which kitty &>/dev/null && kitty + complete setup zsh | source /dev/stdin
# Completion for kg, kitty hyperlinked grep based on ripgrep (~/.local/bin/kg)
compdef _rg kg

# Completion for pip3 (Generated with `pip3 completion --zsh > ...`).
if [ -e $HOME/.local/share/zsh/site-functions/pip3.zsh ]; then
  source $HOME/.local/share/zsh/site-functions/pip3.zsh
fi

# Configuration for z.
ZSHZ_DATA=$HOME/.cache/z
ZSHZ_ECHO=1{{/* displays the new path name when changing directories (default: 0). */}}
ZSHZ_NO_RESOLVE_SYMLINKS=1{{/* prevents symlink resolution (default: 0). */}}

# ROS setup
ros1_activate()
{
  if [ ! ${ROS_WORKSPACE} ]; then
    # Read the workspace from /tmp/ros1_workspace, if $ROS_WORKSPACE is not
    # defined.
    if [ -e /tmp/ros1_workspace.conf ]; then
      export ROS_WORKSPACE=$(cat /tmp/ros1_workspace.conf)
    else
      echo "\$ROS_WORKSPACE is not defined and /tmp/ros1_workspace.conf does not exist" >&2
      return 1
    fi
  fi

  if [ ! ${ROS_WORKSPACE} ]; then
    return 0
  fi

  source $ROS_WORKSPACE/devel/setup.zsh || return 1
}

# Activate ROS1 if /tmp/ros1_workspace.conf exists.
if [ -e /tmp/ros1_workspace.conf ]; then
  echo "Activating ROS1 workspace $(cat /tmp/ros1_workspace.conf)" >&2
  ros1_activate || echo "Failed to activate ROS1 workspace $(cat /tmp/ros1_workspace.conf)"
fi

# ROS2 setup
ros2_activate()
{
  if [ ! ${ROS_WORKSPACE} ]; then
    # Read the workspace from /tmp/ros1_workspace, if $ROS_WORKSPACE is not
    # defined.
    if [ -e /tmp/ros2_workspace.conf ]; then
      export ROS_WORKSPACE=$(cat /tmp/ros2_workspace.conf)
    else
      echo "\$ROS_WORKSPACE is not defined and /tmp/ros2_workspace.conf does not exist" >&2
      return 1
    fi
  fi

  if [ ! ${ROS_WORKSPACE} ]; then
    return 0
  fi

  # Colorized terminal output.
  export RCUTILS_COLORIZED_OUTPUT=1

  source $ROS_WORKSPACE/install/setup.zsh || return 1

  {{/* source /usr/share/colcon_argcomplete/hook/colcon-argcomplete.zsh || echo "/usr/share/colcon_argcomplete/hook/colcon-argcomplete.zsh does not exist" >&2 */ -}}
  source /usr/share/colcon_cd/function/colcon_cd.sh || echo "/usr/share/colcon_cd/function/colcon_cd.sh does not exist" >&2

  {{/* source ${ROS_WORKSPACE}/install/share/ament_index_python/environment/ament_index-argcomplete.zsh */ -}}
  {{/* source ${ROS_WORKSPACE}/install/share/ament_tools/environment/ament-completion.zsh */ -}}

  if [ -e ${ROS_WORKSPACE} ]; then
    _cwd=$(pwd)
    cd $ROS_WORKSPACE
    colcon_cd --set > /dev/null
    cd $_cwd
    unset _cwd
  fi

  # ROS2 has no roscd command, alias it.
  alias roscd=colcon_cd
}

# Activate ROS2 if /tmp/ros2_workspace.conf exists.
if [ -e /tmp/ros2_workspace.conf ]; then
  echo "Activating ROS2 workspace $(cat /tmp/ros2_workspace.conf)" >&2
  ros2_activate || echo "Failed to activate ROS2 workspace $(cat /tmp/ros2_workspace.conf)" >&2
fi

# Activate timestamping before running a command.
show_timestamp()
{
  echo "  timestamp $(now)"
}

activate_timestamp()
{
  # Cf. http://zsh.sourceforge.net/Doc/Release/Functions.html#Functions, 9.3.1.
  preexec_functions+=show_timestamp
}

# Aliases
if [ -f ~/.config/shell/shell_aliases ]; then
    . ~/.config/shell/shell_aliases
fi
if [ -f ~/.config/zsh/zsh_aliases ]; then
    . ~/.config/zsh/zsh_aliases
fi

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup=$("$HOME/.local/share/miniconda3/bin/conda" 'shell.zsh' 'hook' 2> /dev/null)
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "$HOME/.local/share/miniconda3/etc/profile.d/conda.sh" ]; then
        . "$HOME/.local/share/miniconda3/etc/profile.d/conda.sh"
    else
        export PATH="$HOME/.local/share/miniconda3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

