# zsh-specific aliases, completing ~/.config/shell/shell_aliases.

# 'alias -s pdf=acroread' is set in OMZP::common-aliases, so arrange that
# OMZP::common-aliases is loaded before this file.
alias -s pdf='gio open'

# 'alias -s {c,cc,cpp,cxx,h,hh}' are set in OMZP::common-aliases.
alias -s hpp='$EDITOR'
{{- /* alias -s py opens even executable files in the editor.
alias -s py='$EDITOR'
unalias -s py # probably set in OMZP::common-aliases.
*/}}
alias -s xml='$EDITOR'

alias B='| bat'

# Alias `gr` set by some zsh plugin to `git remote`.
unalias gr &>/dev/null

# Alias `rd` set by some zsh plugin to `rmdir`.
unalias rd &>/dev/null

# Alias configuration for forgit.
alias fglo=forgit::log
alias fgd=forgit::diff
alias fga=forgit::add
alias fgrh=forgit::reset::head
alias fgi=forgit::ignore
alias fgcf=forgit::checkout::file
alias fgcb=forgit::checkout::branch
alias fgbd=forgit::branch::delete
alias fgct=forgit::checkout::tag
alias fgco=forgit::checkout::commit
alias fgrc=forgit::revert::commit
alias fgclean=forgit::clean
alias fgss=forgit::stash::show
alias fgsp=forgit::stash::push
alias fgcp=forgit::cherry::pick
alias fgrb=forgit::rebase
alias fgbl=forgit::blame
alias fgfu=forgit::fixup
