[user]
    email = {{.git.user.email}}
    name = {{.git.user.name}}

[credential]
    helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
    difftool = true

[diff]
    tool = difftastic
    colorMoved = default

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations
    line-numbers = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

