# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi


alias cbt='catkin build --this'
alias cbtn='catkin build --this --no-deps'
alias cp='/bin/cp -i'
# extract-image is defined in ~/.config/shell/profile.
alias ffmpeg-extract='extract-images'
# Instead of git gui.
alias gg='git grep -I'
alias i='ipython3'
alias j='jupyter console'
# some more ls aliases
alias l1='ls -a1lF'
alias l='ls -CF'
alias la='ls -A'
alias ll='ls -alF'
alias mv='/bin/mv -i'
alias mosh-pcgael3-public='mosh -p 60000 pcgael3-public'
alias nload100='nload -i 100000 -o 100000'
alias nload1000='nload -i 1000000 -o 1000000'
alias o='gio open'
alias oo='a -e xdg-open' # quick opening files with xdg-open. a='fasd -a'.
alias r='ranger'
alias rm='/bin/rm -i'
alias rofi='rofi -plugin-path ~/.local/lib/rofi -show drun'
{{- /* https://github.com/RazrFalcon/resvg */}}
alias svg2usvg='usvg'
alias svgcleaner='scour'
alias v='f -e vim' # quick opening files with vim. f='fasd -f'
alias beep='aplay -q /usr/share/sounds/sound-icons/prompt.wav'
alias getdate='/bin/date '+%Y-%M-%d--%H-%M-%S''
alias rubber='/usr/bin/rubber --pdf --cache --short --warn all'
alias rubber-clean='/usr/bin/rubber --clean'
alias latexmk="/usr/bin/latexmk -r $HOME/.config/latexmk/config.pl"
alias latexmk-clean="/usr/bin/latexmk -r $HOME/.config/latexmk/config.pl -c"
alias kdeconnect-cli='/usr/bin/kdeconnect-cli --device dc5b2368f3997134'
{{- if eq .chezmoi.hostname "pcgael4"}}
alias bon='bluetooth on'
alias boff='bluetooth off'
alias bctl='bluetooth ctl'
alias w='$HOME/.local/bin/wifi-status'
{{- end}}

# Strip color codes from STDIN to save into a file
# Ex: command_with_color | stripcolor > file.txt
alias stripcolor='sed -r "s/\x1B\[([0-9]{1,2}(;[0-9]{1,2})?)?[m|K]//g"'


# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

alias xclip='xclip -selection clipboard'
