[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=open-in-firefox-whatsapp %u
Name=WhatsApp in Firefox
Comment=Firefox with the `whatsapp` profile
