# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

[plugins]

[plugins.profile]
local = "~/.config/shell"
use = ["profile"]

[plugins.shell-aliases]
local = "~/.config/shell"
use = ["shell_aliases"]

[plugins.zsh-aliases]
local = "~/.config/zsh"
use = ["zsh_aliases"]

[plugins.zsh-navigation-tools]
github = "zdharma-continuum/zsh-navigation-tools"

[plugins.zsh-z]
github = "agkozak/zsh-z"

[plugins.zsh-completions]
github = "zsh-users/zsh-completions"

[plugins.forgit]
github = "wfxr/forgit"

[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"

[plugins.zsh-syntax-highlighting]
github = "zsh-users/zsh-syntax-highlighting"

[plugins.atuin]
github = "atuinsh/atuin"

[plugins.omz-lib-directories]
github = "ohmyzsh/ohmyzsh"
dir = "lib"
use = ["directories.zsh"]

[plugins.omz-plugin-command-not-found]
github = "ohmyzsh/ohmyzsh"
dir = "plugins/command-not-found"

[plugins.omz-plugin-git]
github = "ohmyzsh/ohmyzsh"
dir = "plugins/git"

[plugins.omz-plugin-pip]
github = "ohmyzsh/ohmyzsh"
dir = "plugins/pip"

[plugins.omz-plugin-safe-paste]
github = "ohmyzsh/ohmyzsh"
dir = "plugins/safe-paste"

[plugins.omz-plugin-common-aliases]
github = "ohmyzsh/ohmyzsh"
dir = "plugins/common-aliases"

[plugins.direnv]
# https://direnv.net/
inline = 'if command -v direnv >/dev/null; then eval "$(direnv hook zsh)"; fi'

[plugins.gis-completion]
# https://github.com/Deleh/gis.git
# cp ~/04-sources/gis-multi_git_repo_management/gis_completion.bash ~/.local/share/bash-completion/completions/gis
local = "~/.local/share/bash-completion/completions"
use = ["gis"]

[plugins.pixi-completion]
# https://pixi.sh/latest/
inline = 'if command -v pixi >/dev/null; then eval "$(pixi completion --shell zsh)"; fi'

[plugins.pipx-completion]
inline = 'if command -v register-python-argcomplete3 >/dev/null; then eval "$(register-python-argcomplete3 pipx)"; fi'

[plugins.pip3-completion]
inline = 'if command -v pip3 >/dev/null; then eval "$(pip3 completion --zsh)"; fi'

[plugins.platformio-completion]
inline = 'if command -v pio >/dev/null; then eval "$(_PIO_COMPLETE=zsh_source pio)"; fi'

[plugins.kitty-completion]
inline = 'if command -v kitty >/dev/null; then eval "$(kitty + complete setup zsh)"; fi'

{{/* `source <(gr completion)` provokes the warning `fatal: not a git repository`
[plugins.gr-completion]
# https://github.com/mixu/gr
inline = 'if command -v gr >/dev/null; then source <(gr completion); fi'
*/ -}}

[plugins.python-completion]
local = "/usr/lib/python3/dist-packages/argcomplete/bash_completion.d"
apply = ["fpath"]

{{/* Not installed
[plugins.magic-completion]
inline = 'if command -v magic >/dev/null; then eval "$(magic completion --shell zsh)"; fi'
*/ -}}

[plugins.chezmoi-completion]
inline = 'if command -v chezmoi >/dev/null; then eval "$(chezmoi completion zsh)"; fi'

[plugins.rustup-completion]
inline = 'if command -v rustup >/dev/null; then eval "$(rustup completions zsh rustup)"; fi'

[plugins.custom-fpath]
local = "~/.local/share/zsh/site-functions"
apply = ["fpath"]

[plugins.zoxide]
# https://github.com/ajeetdsouza/zoxide
inline = 'if command -v zoxide >/dev/null; then eval "$(zoxide init zsh)"; fi'
