# Applications

ascii-draw:
  description: "ASCII Draw"
  binary: ascii-draw # Install with snap
  icon: io.github.nokse22.asciidraw-symbolic

atril:
  description: "Atril (PDF Viewer)"
  binary: atril
  icon: atril

audacity:
  description: "Audacity"
  binary: ~/08-apps/audacity.AppImage
  icon: audacity

blender:
  description: "Blender"
  binary: blender
  icon: blender

brave:
  description: "Brave"
  binary: brave-browser-stable
  icon: brave-browser

calc:
  description: "LibreOffice Calc"
  binary: libreoffice
  args: --calc
  icon: libreoffice-calc

calculator:
  description: "Calculator"
  binary: mate-calc
  icon: accessories-calculator

characters:
  description: "Characters"
  binary: gucharmap
  icon: accessories-character-map

cheese:
  description: "Cheese"
  binary: cheese
  icon: org.gnome.Cheese

code:
  description: "Visual Studio Code"
  binary: code
  icon: vscode

cutecom:
  description: "CuteCom"
  binary: cutecom
  icon: cutecom

digikam:
  description: "Digikam"
  binary: digikam
  icon: digikam

disk_usage_analyzer:
  description: "Disk Usage Analyzer"
  binary: baobab
  icon: org.gnome.baobab

file_manager:
  description: "File Manager"
  binary: caja
  icon: system-file-manager

firefox:
  description: "Firefox Web Browser"
  binary: firefox
  args: ["-P", "default-release"]
  icon: firefox

freecad:
  description: "FreeCAD"
  binary: freecad-daily
  icon: freecad-daily

freecad_appimage:
  description: "FreeCAD AppImage"
  binary: ~/08-apps/FreeCAD.AppImage
  icon: freecad-daily

freecad_asm3:
  description: "FreeCAD Assembly3"
  binary: freecad-realthunder # installed as snap
  icon: freecad-daily

freecad_ondsel:
  description: "FreeCAD Ondsel"
  binary: ~/08-apps/FreeCAD-Ondsel.AppImage
  icon: freecad-daily

freetube:
  description: "FreeTube"
  binary: freetube
  icon: freetube

gazebo:
  description: "Gazebo"
  binary: gazebo
  icon: gazebo

gimp:
  description: "GIMP"
  binary: gimp
  icon: gimp

groot2:
  description: "Groot2"
  binary: ~/08-apps/Groot2.AppImage
  icon: groot2

heaptrack:
  description: "Heaptrack"
  binary: heaptrack_gui
  icon: heaptrack

impress:
  description: "LibreOffice Impress"
  binary: libreoffice
  args: --impress
  icon: libreoffice-impress

inkscape:
  description: "Inkscape"
  binary: inkscape
  icon: org.inkscape.Inkscape

jabref:
  description: "JabRef"
  binary: jabref
  icon: JabRef-icon-48

kde_connect_indicator:
  description: "KDE Connect Indicator"
  binary: kdeconnect-indicator
  icon: kdeconnect

kdenlive:
  description: "Kdenlive"
  binary: kdenlive
  icon: kdenlive

keepass:
  description: "Keepass"
  binary: keepassxc
  icon: keepassxc

librecad:
  description: "LibreCAD"
  binary: librecad
  icon: librecad

meshlab:
  description: "MeshLab"
  binary: meshlab
  icon: meshlab

nm-connection-editor:
  description: "NetworkManager Connections"
  binary: nm-connection-editor
  icon: preferences-system-network

obs:
  description: "OBS Studio (screencast)"
  binary: obs
  icon: com.obsproject.Studio

openscan:
  description: "OpenSCAD"
  binary: openscad
  icon: openscad

prusa:
  description: "Prusa Slicer"
  binary: ~/08-apps/PrusaSlicer.AppImage
  icon: PrusaSlicer

qt5_assistant:
  description: "Qt5 Assistant"
  binary: /usr/lib/qt5/bin/assistant
  icon: assistant-qt5

qt5_designer:
  description: "Qt5 Designer"
  binary: designer
  icon: designer-qt5

retext:
  description: "ReText"
  binary: retext
  icon: retext

settings:
  description: "System settings"
{{- if eq .chezmoi.osRelease.versionID "22.04"}}
  binary: gnome-control-center
  icon: org.gnome.Settings
{{- else}}
  binary: cosmic-settings
  icon: com.system76.CosmicSettings
{{- end}}

simplescan:
  description: "Simple Scan"
  binary: simple-scan
  icon: org.gnome.SimpleScan

slack:
  description: "Slack"  # From snap.
  binary: slack
  icon: slack

terminal:
  description: "Terminal"
  binary: x-terminal-emulator
  icon: org.gnome.Terminal

text_editor:
  description: "Text Editor"
  binary: pluma
  icon: accessories-text-editor

thunderbird:
  description: "Thunderbird"
  binary: thunderbird
  icon: thunderbird

vlc:
  description: "VLC Media Player"
  binary: vlc
  icon: vlc

warp:
  description: "Warp Terminal"
  binary: /opt/warpdotdev/warp-terminal/warp
  icon: dev.warp.Warp

wdisplays:
  description: "Displays"
  binary: wdisplays
{{- if eq .chezmoi.osRelease.versionID "22.04"}}
  icon: wdisplays
{{- else}}
  icon: network.cycles.wdisplays
{{- end}}

webots:
  description: "Webots"
  binary: /usr/local/bin/webots
  icon: webots

writer:
  description: "LibreOffice Writer"
  binary: libreoffice
  args: --writer
  icon: libreoffice-writer

xournal:
  description: "Xournal"
  binary: xournalpp  # From snap.
  icon: com.github.xournalpp.xournalpp

zathura:
  description: "Zathura (PDF Viewer)"
  binary: zathura
  icon: org.pwmt.zathura

zotero:
  description: "Zotero"
  binary: zotero  # From tar.bz2 in /opt/zotero.
  icon: zotero

calibre:
  description: "Calibre"
  binary: calibre
  icon: calibre-gui

digikam:
  description: "Digikam"
  binary: digikam  # From snap.
  icon: digikam

musescore:
  description: "MuseScore"
  binary: musescore.mscore  # From snap.
  icon: application-x-musescore

playonlinux:
  description: "PlayOnLinux"
  binary: playonlinux
  icon: playonlinux
{{- if eq .chassis_type "laptop"}}

power_statistics:
  description: "Power Statistics"
  binary: gnome-power-statistics
  icon: org.gnome.PowerStats
{{- end}}

telegram:
  description: "Telegram"
  binary: telegram-desktop
  icon: telegram

viking:
  description: "Viking"
  binary: viking
  icon: viking

whatsapp:
  description: "WhatsApp"
  binary: firefox
  args: ["-P", "whatsapp"]
  icon: WhatsApp
{{- if or (eq .chezmoi.hostname "pcgael1") (eq .chezmoi.hostname "pcgael3")}}

nvidia-settings:
  description: "NVIDIA X Server Settings"
  binary: nvidia-settings
  icon: nvidia-settings
{{- end}}

# Documents

iso_threads:
  description: "iso_threads.ods"
  binary: libreoffice
  args: ["--calc", "06-common/iso_threads.ods"]
  icon: libreoffice-calc

# Window and display management

move_workspace_right:
  description: "Move workspace to the right"
  binary: i3-msg
  args: ["move", "workspace", "to", "right"]
  icon: go-right

move_workspace_left:
  description: "Move workspace to the left"
  binary: i3-msg
  args: ["move", "workspace", "to", "left"]
  icon: go-left

move_workspace_up:
  description: "Move workspace up"
  binary: i3-msg
  args: ["move", "workspace", "to", "up"]
  icon: go-up

move_workspace_down:
  description: "Move workspace down"
  binary: i3-msg
  args: ["move", "workspace", "to", "down"]
  icon: go-down

display_goulven:
  description: "Display Setup Goulven"
  binary: ~/.local/bin/display-goulven
  icon: video-joined-displays-symbolic-dark

display_goulven_vnc:
  description: "Display Setup Goulven VNC"
  binary: ~/.local/bin/display-goulven-vnc
  icon: video-joined-displays-symbolic-dark

display_kmr:
  description: "Display Setup KMR"
  binary: ~/.local/bin/display-kmr
  icon: video-joined-displays-symbolic-dark

display_kmr_vnc:
  description: "Display Setup KMR VNC"
  binary: ~/.local/bin/display-kmr-vnc
  icon: video-joined-displays-symbolic-dark

display-jirčany:
  description: "Display Setup Jirčany"
  binary: ~/.local/bin/display-jirčany
  icon: video-joined-displays-symbolic-dark

{{- /* `primary` direction not supported in i3-msg v4.20
move_workspace_primary:
  description: "Move workspace to primary monitor"
  binary: i3-msg
  args: ["move", "workspace", "to", "primary"]
  icon: laptop-symbolic-dark
*/}}
{{ if index . "main_monitor"}}
move_workspace_primary:
  description: "Move workspace to primary monitor"
  binary: i3-msg
  args: ["move", "workspace", "to", "{{.main_monitor}}"]
  icon: laptop-symbolic-dark
{{- end}}

{{- /* `nonprimary` direction not supported in i3-msg v4.20, workaround is left or right.
move_workspace_nonprimary:
  description: "Move workspace to external monitor"
  binary: i3-msg
  args: ["move", "workspace", "to", "nonprimary"]
  icon: display-projector-symbolic-dark
*/}}
{{ if index . "second_monitor"}}
move_workspace_nonprimary:
  description: "Move workspace to external monitor"
  binary: i3-msg
  args: ["move", "workspace", "to", "{{.second_monitor}}"]
  icon: display-projector-symbolic-dark
{{- end}}

# PC and session Management

bluetooth-connect-headphones:
  description: "Connect to headphones"
  binary: ~/.local/bin/bluetooth-connect
  args: 05:15:17:14:3C:92
  icon: bluetooth-symbolic-dark

bluetooth-connect-jbl:
  description: "Connect to JBL"
  binary: ~/.local/bin/bluetooth-connect
  args: 00:12:6F:E2:66:3F
  icon: bluetooth-symbolic-dark

bluetooth-connect-k860:
  description: "Connect to keyboard"
  binary: ~/.local/bin/bluetooth-connect
  args: CA:50:48:52:B5:10
  icon: bluetooth-symbolic-dark

bluetooth-connect-lamax:
  description: "Connect to LAMAX"
  binary: ~/.local/bin/bluetooth-connect
  args: F4:4E:FD:D3:88:AB
  icon: bluetooth-symbolic-dark

bluetooth-connect-niceboy:
  description: "Connect to Niceboy"
  binary: ~/.local/bin/bluetooth-connect
  args: F4:4E:FD:07:CD:1A
  icon: bluetooth-symbolic-dark

bluetooth-toggle:
  description: "Bluetooth toggle"
  binary: ~/.local/bluetooth-toggle
  icon: bluetooth-symbolic-dark

hibernate:
  description: "Hibernate"
  binary: ~/.local/bin/lock-hibernate
  icon: system-hibernate-dark

lock:
  description: "Lock session"
  binary: ~/.local/bin/lock
  icon: system-lock-screen-symbolic-dark

logout:
  description: "Log out"
  binary: ~/.local/bin/exit-session
  icon: system-log-out-symbolic-dark

reboot:
  description: "Reboot"
  binary: systemctl
  args: reboot
  icon: system-restart-symbolic-dark

shutdown:
  description: "shutdown"
  binary: systemctl
  args: poweroff
  icon: system-shutdown-symbolic-dark

suspend:
  description: "Suspend"
  binary: ~/.local/bin/lock-suspend
  icon: system-suspend-symbolic-dark

toggle-presentation-mode:
  description: "toggle-presentation-mode"
  binary: toggle-presentation-mode
  icon: x-office-presentation-symbolic-dark

performance-battery:
  description: "Set to battery mode"
  binary: "system76-power"
  args: ["profile", "battery"]
  icon: performance-010

performance-balanced:
  description: "Set to balanced mode"
  binary: "system76-power"
  args: ["profile", "balanced"]
  icon: performance-050

performance-performance:
  description: "Set to performance mode"
  binary: "system76-power"
  args: ["profile", "performance"]
  icon: performance-100

{{- if eq .chassis_type "laptop"}}
activate_touchpad:
  description: "Activate touchpad"
  binary: swaymsg
  args: ["input", "type:touchpad", "events", "enabled"]
  icon: input-touchpad-symbolic

deactivate_touchpad:
  description: "Deactivate touchpad"
  binary: swaymsg
  args: ["input", "type:touchpad", "events", "disabled"]
  icon: touchpad-disabled-symbolic

deactivate_touchpad_on_external_mouse:
  description: "Deactivate touchpad on external mouse"
  binary: swaymsg
  args: ["input", "type:touchpad", "events", "disabled_on_external_mouse"]
  icon: touchpad-disabled-symbolic
{{- end}}

