#!/bin/bash

options=" lock
 logout
 sleep
 hibernate
 reboot
 shutdown
 toggle presentation mode
{{- if eq .chezmoi.hostname "pcgael5"}}
 toggle touchpad{{- end}}
{{- if eq .chezmoi.hostname "pcgael4"}}
{{- if (index . "pulseaudio_sink")}}
 Set default Pulseaudio sink{{- end}}
 toggle bluetooth
 connect to headphones
 connect to JBL
 Update QuickFix on TomTom Watch{{- end}}"

if [[ $XDG_SESSION_TYPE = wayland ]]; then
    selection=$(echo "${options}" | wofi --dmenu --prompt=Action)
else
    selection=$(echo "${options}" | rofi -dmenu -p action)
fi

case "${selection}" in
    " lock")
        if [ "$XDG_SESSION_TYPE" = "wayland" ]; then
            swaylock
        else
            i3lock
        fi;;
    " logout")
        if [ "$XDG_SESSION_TYPE" = "wayland" ]; then
            swaymsg exit
        else
            i3-msg exit
        fi;;
    " sleep")
        if [ "$XDG_SESSION_TYPE" = "wayland" ]; then
            swaylock & systemctl suspend
        else
            i3lock & systemctl suspend
        fi;;
    " hibernate")
        if [ "$XDG_SESSION_TYPE" = "wayland" ]; then
            swaylock & systemctl hibernate
        else
            i3lock & systemctl hibernate
        fi;;
    " reboot")
        systemctl reboot;;
    " shutdown")
        systemctl poweroff;;
    " toggle presentation mode")
        toggle-presentation-mode;;
{{- if (index . "touchpad_device")}}
    " toggle touchpad")
        toggle-touchpad;;
{{- end}}
{{- if (index . "pulseaudio_sink")}}
    " Set default Pulseaudio sink")
        pactl set-default-sink {{.pulseaudio_sink}};;
{{- end}}
    " toggle bluetooth")
        bluetooth-toggle;;
    " connect to headphones")
        $HOME/.local/bin/bluetooth-connect 05:15:17:14:3C:92;;
    " connect to JBL")
        $HOME/.local/bin/bluetooth-connect 00:12:6F:E2:66:3F;;
    " Update QuickFix on TomTom Watch")
        $HOME/.local/bin/tomtom-updategps;;
esac
