#!//bin/sh

options=" lock
 logout
  sleep
  hibernate
 reboot
 shutdown
 toggle presentation mode
{{- if eq .chezmoi.hostname "pcgael4"}}
 bluetooth on
 bluetooth off
 connect to headphones
 connect to JBL
 Update QuickFix on TomTom Watch{{- end}}"

selection=$(echo "${options}" | rofi -dmenu -p action)

case "${selection}" in
    " lock")
        i3lock;;
    " logout")
        i3-msg exit;;
    "  sleep")
        lock && systemctl suspend;;
    "  hibernate")
        i3lock && systemctl hibernate;;
    " reboot")
        systemctl reboot;;
    " shutdown")
        systemctl poweroff;;
    " toggle presentation mode")
        toggle-presentation-mode;;
{{- if eq .chezmoi.hostname "pcgael4"}}
    " bluetooth on")
        bluetooth on 1>/dev/null;;
    " bluetooth off")
        bluetooth off 1>/dev/null;;
    " connect to headphones")
        $HOME/.local/bin/bluetooth-connect 05:15:17:14:3C:92;;
    " connect to JBL")
        $HOME/.local/bin/bluetooth-connect 00:12:6F:E2:66:3F;;
    " Update QuickFix on TomTom Watch")
        $HOME/.local/bin/tomtom-updategps;;
{{- end}}
esac
