#!//bin/sh

options=" lock
 logout
  sleep
  hibernate
 reboot
 shutdown
 toggle presentation mode
{{- if eq .chezmoi.hostname "pcgael5"}}
 toggle touchpad{{- end}}
{{- if eq .chezmoi.hostname "pcgael4"}}
{{- if (index . "pulseaudio_sink")}}
 Set default Pulseaudio sink{{- end}}
 toggle bluetooth
 connect to headphones
 connect to JBL
 Update QuickFix on TomTom Watch{{- end}}"

selection=$(echo "${options}" | rofi -dmenu -p action)

case "${selection}" in
    " lock")
        i3lock;;
    " logout")
        i3-msg exit;;
    "  sleep")
        lock && systemctl suspend;;
    "  hibernate")
        i3lock && systemctl hibernate;;
    " reboot")
        systemctl reboot;;
    " shutdown")
        systemctl poweroff;;
    " toggle presentation mode")
        toggle-presentation-mode;;
{{- if (index . "touchpad_device")}}
    " toggle touchpad")
        toggle-touchpad;;
{{- end}}
{{- if eq .chezmoi.hostname "pcgael4"}}
    " Set default Pulseaudio sink")
        pactl set-default-sink {{.pulseaudio_sink}};;
    " toggle bluetooth")
        bluetooth-toggle;;
    " connect to headphones")
        $HOME/.local/bin/bluetooth-connect 05:15:17:14:3C:92;;
    " connect to JBL")
        $HOME/.local/bin/bluetooth-connect 00:12:6F:E2:66:3F;;
    " Update QuickFix on TomTom Watch")
        $HOME/.local/bin/tomtom-updategps;;
{{- end}}
esac
