[Unit]
Description=Run backup.service every work day at 11:10 Prague time

[Timer]
OnCalendar=Mon..Fri *-*-* 11:10:00 Europe/Prague
Persistent=true

[Install]
WantedBy=timers.target
