[Unit]
Description=Run backup.service every day at 11:10 Prague time

[Timer]
OnCalendar=*-*-* 11:10:00 Europe/Prague
Persistent=true

[Install]
WantedBy=timers.target
