[Unit]
Description=Bato
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=%h/.local/bin/bato
Restart=on-failure

[Install]
WantedBy=graphical-session.target
