[Unit]
Description=Updates the database file used by dmenu_extended_run

[Service]
Type=oneshot
ExecStart=/bin/sh -c %h/.local/bin/dmenu_extended_cache_build
