{
    // workspace 1 with Firefox
    "border": "normal",
    "floating": "auto_off",
    "layout": "splith",
    "percent": 0.25,
    "type": "workspace",
{{- if (and (index . "i3_use_fontawesome") .i3_use_fontawesome)}}
    "name": "2:",
{{- else}}
    "name": "2:web",
{{- end}}
    "nodes": [
        {
            "border": "normal",
            "floating": "auto_off",
            "name": "Mozilla Firefox",
            "percent": 1,
            "swallows": [
               {
                   "instance": "^Navigator$"
               }
            ],
            "type": "con"
        }
    ]
}

{
    // workspace with 2 with terminal
    "border": "normal",
    "floating": "auto_off",
    "fullscreen_mode": 1,
    "layout": "splith",
    "percent": 0.5,
    "type": "workspace",
{{- if (and (index . "i3_use_fontawesome") .i3_use_fontawesome)}}
    "name": "3:",
{{- else}}
    "name": "3:term",
{{- end}}
    "nodes": [
        {
            "border": "normal",
            "floating": "auto_off",
            "name": "terminal",
            "percent": 1,
            "swallows": [
               {
                   "instance": "^gnome\\-terminal\\-server$"
               }
            ],
            "type": "con"
        }
    ]
}

